body {
		font-family: Arial,sans-serif;
	}

header img{
		display: block;
		margin-left:auto;
		margin-right:auto;
		}

nav {
		text-align: center;
		}
		
nav ul {
		display: inline-block;
		margin-left:auto;
		margin-right:auto;
		}
		
nav li {
		list-style-type: none;
		width: 7em;
		text-align: center;
		float: left;
		}
		
nav a {
		text-decoration: none;
		color: black;
		display: block;
		background-color: #EEEEFF;
		box-shadow: 5px 5px 5px gray;
		margin-bottom: 2px;
		margin-right: 2px;
		border-radius: 5px;
		border: 3px outset #EEEEFF;
		}
		
nav a:hover {
		background-color: #DDDDEE;

		}
		
#left-sidebar {
		float: left;
		width: 23%;
		min-height: 35em;
		overflow: auto;
		background-color: #EEEEEE;
		border-radius: 5px;
		}

#main {
		float: left;
		width: 50%;
		padding-left: 1%;
		padding-right: 1%;
		min-height: 35em;
		overflow: auto;
		border: 1px #EEEEEE solid;
		border-radius: 5px;
		}
		
#right-sidebar {
		float: left;
		width: 23%;
		padding-left: 1%;
		min-height: 35em;
		overflow: auto;
		background-color: #EEEEEE;
		border-radius: 5px;
		}
		
footer {
		float: left;
		width: 100%;
		text-align: center;
		
		}
table {
		border: 2px solid gray;
		border-collapse: separate;
		width: 100%;
		font-size: .8em;
		vertical-align: center;
		text-align: center;
		padding: 4px;
	}
table td th{

	}
table thead {
		background-color: gray;
		color: white;
	}
table tbody tr:nth-child(odd) {
		background-color: white;
	}
table tbody tr:nth-child(even) {
		background-color: #EEEEEE;
	}
table tbody td:nth-child(1) {
		font-weight: bold;
		width: 25%;
		}
